* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background: #001b29;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #04001c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  display: inline-block;
  font-size: 15px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  opacity: 0;
  animation: slidetop 0.5s ease forwards;
  padding: 10px;
}
.navbar a:hover {
  color: #0ef;
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  background: #001b29 no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  background-position: center;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  animation: slidebottom 1s ease forwards;
  animation-delay: 1s;
}
.home-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin: -3px 0;
  animation: slideright 1s ease forwards;
  animation-delay: 1s;
}
.home-content span {
  font-size: 35px;
  animation: slidebottom 1s ease forwards;
  animation-delay: 1s;
  color: rgb(29, 160, 170);
}
.home-content p{
  font-size: 15px;

}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  width: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideleft 1s ease forwards;
  animation-delay: 1s;
  margin: 30px 15px 30px 0;
}
.home-sci a:hover {
  background: #0ef;
  color: black;
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  letter-spacing: none;
  font-weight: 600;

  transition: 0.5s ease;
  opacity: 0;
  animation: slideright 1s ease forwards;
  animation-delay: 1s;
  margin: 30px 15px 30px 0;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    gap: 1.5 rem;
    margin: 0 30px;
    height: 85vh;
}
.about-img img{
  padding-bottom:20%;
  padding-left: 10%;
  max-width:350px;
  height: auto;
  width: 70%;
  border-radius: 8px;
  
}
.about-text h2{
  font-size: 60px;
}
.about-text h2 span{
  color: #0ef;
}
.about-text h4{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin: 35px 0 30px;
}
.about-text p{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom:4rem;
}

.skills h2{
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
}
.skills h2 span{
  color: #0ef;
}
.container{
   position: relative;
  width: 100%;
  justify-content: space-between;
  background: #001b29 no-repeat;
  background-size: cover;
  height: 250px;
  
  background-position: center;
  align-items: center;
  padding: 70px 10% 0;
  
}
.heading1{
  text-underline-offset:10px ;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  margin-bottom: 50px;
}
.bars i{
  font-size: 100px;
}
.technical-bars{
  text-align: center;
  display: flex;
  gap: 4.5rem;
}


.main-text h2{
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
}
.main-text h2 span{
  color: #0ef;
}
.main-text{
  padding-top: 130px;
  margin-top: 200px;
}
.portfolio-content{
  
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(359px,auto)) ;
}
.row{
  padding: 10px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.row img {
  width: 100%; /* Set the width to 100% of its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Add border-radius to match the design */
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.1),#0ef);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h5{
  color: #000;
  font-size: 20px;
  line-height: 1.8;
}
.layer i{
  color: #ff004f;
  margin-top: 20px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%
}
.row:hover img{
  transform: scale(1.1);
}
.row:hover .layer{
  height: 100%;
}

.contact{
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}
.contact-text h2{
  font-size: 90px;
  line-height: 1;
  text-align: center;
}
.contact-text h2 span{
  color: #0ef;
}
.contact-text h4{
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
}
.contact-text p{
  color: rgb(177,177,177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list{
  margin-bottom: 3rem;
}
.contact-list l1{
  margin-bottom: 10px;
  display: block;
}
.contact-list i{
  display: inline-block;
  color: #0ef;
  font-size: 20px;
  transition: all 0.40s ease ;
}
.contact-list li a:hover{
  transform: scale(1.01) translateY(-5px);
  color: #0ef;
}
.contact-icons i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius:50% ;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideleft 1s ease forwards;
  animation-delay: calc(.2s *var(--i));
}
.contact-icons i:hover{
  background: #0ef;
  color: #000;
  box-shadow: 0 0 20px #0ef;
}
.contact-form form{
  position: relative;
}
.contact-form form input,form textarea{
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #555557;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea{
  resize: none;
  height: 220px;
}
.contact-form form .send{
  display: inline-block;
  padding: 12px 60px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slidetop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,
  0 0 25px #0ef;

}
@keyframes slideRight {
  0% {
    transform: translatex(-100px);
    opacity: 0;
  }
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

@keyframes slidetop {
  0% {
    transform: translatey(-100px);
    opacity: 0;
  }
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}

@keyframes slidebottom {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}

@keyframes slideright {
  0% {
    transform: translatex(-100px);
    opacity: 0;
  }
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

@keyframes slideleft {
  0% {
    transform: translatex(100px);
    opacity: 0;
  }
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}
